/*ESTE ES PARA EFECTOS DEL componentes.js*/
/* h1 {
  color: indigo;
  background-color: yellow;
} */

h2 {
  color: rgb(67, 192, 115);
  background-color: rgb(0, 19, 77);
}
h3 {
  color: rgb(192, 190, 67);

  background-color: rgb(33, 86, 184);
}
